body {
  background-image: url('/resources/images/fountain-OP.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

/* Navigation bar style */
.navigation-bar {
    background: linear-gradient(90deg, #000000, #333333, #000000);
    padding: 10px 15px;
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* spacer pushes menu to center */
.spacer {
  flex: 1;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.main-logo {
  height: 50px; /* smaller height */
  object-fit: cover;
  margin-right: 10px;
  vertical-align: middle;
}

.Logo-text {
  font-family: 'Times New Roman', Times, serif;
  color: #FEF206;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.principal-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.principal-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

/* Centered navigation links */
.navigation-links {
  width: 30%;                
  margin: 20px auto; 
  background-color: rgba(177, 177, 177, 0.226); 
  border-radius: 15px; 
  padding: 15px 20px;
  box-sizing: border-box;
  backdrop-filter: blur(10px); 
  box-shadow: 10 10 10px rgba(0, 0, 0, 0.3);
}

.navigation-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;               
  justify-content: center;    
  gap: 20px;    
}

.navigation-links li a {
  text-decoration: none;
  color: #ffffff;      
  font-weight: bold;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 8px;   
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-links li a:hover {
  background-color: rgba(255, 255, 255, 0.8); 
  color: black;
}
